# Ignore node_modules directory
node_modules/
				
# Ignore log files
*.log
__pycache__/

# Ignore build directories
dist/
build/
*.egg-info/

# Ignore environment variable files
.env
venv/
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg

# Serverless directories
.serverless
serverless/
