# Ignore node_modules directory
node_modules/
                
# Ignore log files
*.log

# Ignore build directories
dist/
build/
*.egg-info/

# Ignore environment variable files
.env
env/
venv/
.venv/


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
serverless/
